@use "variables" as *;

html {
	font-size: 62.5%;
	font-family: $font;
	line-height: 1;
}

body {
	font-size: 2rem;
	background-color: $body-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.subPageBody {
	background-color: #fff;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 2rem; }

a:link,
a:hover,
a:visited,
a:active {
	color: $accent-color;
	text-decoration: none;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
